@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-opacity: 1;
  --bg-color: rgb(15 23 42/var(--bg-opacity));
  
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color-scheme: light dark;
  background-color: var(--bg-color);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


